apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{site_role_name}}
  name: {{site_role_name}}
  namespace: {{site_color}}
spec:
  ports:
  - name: http-{{site_role_name}}
    port: {{hc_port}}
    protocol: TCP
    targetPort: {{hc_port}}
  selector:
    app: {{site_role_name}}